.LayoutToolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MainContent {
    margin-left: 5%;
    margin-right: 5%;
}

.TabHeader {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}