.MealsContent {
    display: flex;
    flex-direction: row;
    height: calc(97% - 70px);
    min-width: 80%;
    max-width: 90%;
}

.Meals {
    height: 100%;
    overflow: auto;
    flex-grow: 3;
}

.Hints {
    padding: 12px;
    margin: 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    min-width: 300px;
}